# Environnement virtuel
venv/

# Cache Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Variables d'environnement
.env

# Fichiers système
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Logs
*.log

#données voluùeux
data/