# Environnement virtuel
venv/

# Cache Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Variables d'environnement
.env

# Fichiers système
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Logs
*.log

# Données volumineuses
data/

# Modèles entraînés
models/*.keras
models/*.h5

# Résultats générés
results/